* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    background: #FEFCF7;
    color: #333;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    position: relative;
    z-index: 10;
}

.logo {
    width: 160px;
}

.nav_links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav_links a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    transition: .3s;
}

.nav_links a:hover {
    color: #0fb092;
    width: 50px;
    height: 20px;
    padding: 10px;
    box-shadow: 3px 5px 5px rgb(2, 230, 255);
    border: 5px rgb(0, 38, 255);
    background: #272727;
    color: #FEFCF7;
}

.nav_links .active {
    color: #0fb092;
}


.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background: #444;
    border-radius: 3px;
    transition: .3s;
}

.nav_links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 60px;
    background: #FEFCF7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.header {
    width: 88%;
    margin: auto;
    border-radius: 10px;
    padding: 60px 80px;
    color: white;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.header_content {
    width: 480px;
}

.header h1 {
    font-family: "Fraunces", serif;
    font-size: 48px;
    margin-bottom: 15px;
}

.header p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.header-home {
    background-image: url("../images/back.png");
}

.header-about {
    background-image: url("../images/back1.svg");
}

.header-create {
    background-image: url("../images/back2.svg");
}

.main_btn {
    padding: 14px 32px;
    background: #0fb092;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

.main_btn:hover {
    background: #118c73;
}

@media(max-width:768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .burger {
        display: flex;
    }

    .nav_links {
        display: none;
        gap: 10px;
    }

    .header {
        width: 94%;
        padding: 40px 20px;
        height: auto;
        text-align: center;
    }

    .header_content {
        width: 100%;
    }

    .main_btn {
        margin: auto;
    }

    .plan_cards {
        flex-direction: column;
    }
}